<!DOCTYPE html>
<html>
<title>Trabalho Prático 2 - Publicação Eletrónica</title>
<meta charset="utf-8">
<style>

</style>
<body>
    <br><br><br>
<h1><big><center><font color="black" face="arial" size="10px">Universidade do Minho</font></big></h1>
<center><img src="UM-EEUM_logo.png"/> </center><br><br>
<big><b><center><font color="black" face="arial" size="5px">Curso | </font></b></big>
<font color="black" face="arial" size="4px">Mestrado Integrado em Engenharia Biomédica</font></center><br>
<big><b><center><font color="black" face="arial" size="5px">Ramo | </font></b></big>
<font color="black" face="arial" size="4px">Informática Médica</font></center><br>
<big><b><center><font color="black" face="arial" size="5px">Ano Letivo | </font></b></big>
<font color="black" face="arial" size="4px">2020/2021</font></center><br>
<big><b><center><font color="black" face="arial" size="5px">Unidade Curricular | </font></b></big> <font color="black" face="arial" size="4px">Publicação Eletrónica</font></center><br>
<h5><center><font color="black" face="arial" size="5px">Docentes | </font></center></h5>
<center><font color="black" face="arial" size="4px"<p>José João Antunes Guimarães Dias Almeida</p></font></center></big>
<center><font color="black" face="arial" size="4px"<p>Pedro Rafael Paiva Moura</p><HR WIDTH=100% ALIGN=CENTER></font></center></big>
<br><br><br>
<div> </div>
<div> </div>
<div> </div>
<h3><center><font color="black" face="arial" size="6px">Trabalho Prático 2</font></center></h3>
</div><br>
<center><p><font color="black" face="arial" size="4px">Desenvolvimento de uma Interface Flask.</p></font></center><br><br>
<div> </div>
<br><br><br><br><br><br>
    
{% block body %} {% endblock %}
</body>
</html>


