{% extends 'base.html' %}

{% block head%}
<title>{{title}}</title>
{% endblock %}

{% block body%}
<body>
    <div class=cont1>
        <br><br><br><br><center><img src="Diana.jpg" alt="Diana Magalhães"  width="140" height="150"></center>
        <h1><center><font color="black" face="arial" size="3px">Diana Magalhães</font><br><br> </big></h1></center>
    </div>
    <dl>
        <dd><b>Dados</b></dd>
        <dd><b>Nº aluno: </b>A81545</dd>
        <dd><b>Email: </b>a81545@alunos.uminho.pt</dd>
    <HR WIDTH=100% ALIGN=CENTER></dl>
   
    <div class=cont2>
        <br><br><br><br><center><img src="Joana.jpg" alt="Joana Oliveira"  width="140" height="150"></center>
        <h1><center><font color="black" face="arial" size="3px">Joana Oliveira</font><br><br>
    </div>
    <dl>
        <dd><b>Dados</b></dd>
        <dd><b>Nº aluno: </b>A93687</dd>
        <dd><b>Email: </b>a93687@alunos.uminho.pt</dd>
    <HR WIDTH=100% ALIGN=CENTER></dl>

    <div class=cont1>
        <br><br><br><br><center><img src="Raquel.jpg" alt="Raquel Gonçalves"  width="140" height="160"></center>
        <h1><center><font color="black" face="arial" size="3px">Raquel Gonçalves</font><br><br>
    </div>
    <dl>
        <dd><b>Dados</b></dd>
        <dd><b>Nº aluno: </b>A79906</dd>
        <dd><b>Email: </b>a79906@alunos.uminho.pt</dd>
<br><br><br><br>
</body>
{% endblock %}x-special/nautilus-clipboard

